<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="bar bar-header bar-calm">Ayuda / Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Brandon Nauhl Valdez Benavides</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      brandon@lux.com
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Escarlet Judith Sanchez</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      escarlet@lux.com
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jesus Horacio Zorola Zamora</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      horacio@lux.com
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Para más información, visita nuestra página web:</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      <a href="http://127.0.0.1:55001/index.html"><span>www.luxcontrol.com</span></a>
    </ion-card-content>
  </ion-card>
</ion-content>